button {
    outline: none !important;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.confirm-header {
    background-color: #007bff !important;
    //background-image: linear-gradient(#007bff, #1a88ff, #3396ff, #4da3ff, #66b0ff);
}