.settings-header {
    background-color: #5b91be !important;
}

#btn-save {
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -ms-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    color: white !important;
    background-color: #5b91be !important;
    border: solid 1px #5b91be !important;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 30px;
    padding-right: 30px;

    &:hover {
        color: white !important;
        background-color: #4178a4 !important;
        border: solid 1px #4178a4 !important;
    }

    &:active {
        color: white !important;
        background-color: #335d80 !important;
        border: solid 1px #335d80 !important;
    }
}

button {
    outline: none !important;
}

.disabled-switch {
    opacity: 0.5;
}

#cookies-btn {
    margin-top: 0;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -ms-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    background-color: #ff0000 !important;
    border: solid 1px #ff0000 !important;
    border-radius: 0.4rem;

    &:hover {
        color: white !important;
        background-color: #cc0000 !important;
        border: solid 1px #cc0000 !important;
    }

    &:active {
        color: white !important;
        background-color: #990000 !important;
        border: solid 1px #990000 !important;
    }
}

.undo {
    cursor: pointer;

    &:hover {
        opacity: 0.6;
    }
}

.no-outline {
    outline: none;
}

#btn-dropdown {
    margin: 0;
    box-shadow: none !important;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
    border: 1px solid #ced4da !important;
    background-color: white;
    color: black;
}

.dropdown-menu {
    top: -1px;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 1rem !important;
}

.dropdown-list-first-child {
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

.dropdown-list-last-child {
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}