#patientsTable {

    tr {
        
        #serialNumber {
            
            a{
                cursor: auto;
            }

        }

    }

}

.form-control {
    margin: 6px;
}

input:placeholder-shown {
    font-weight: 300;
}

#sexSearch, #options {
    margin: 6px;
    //background-color: #2A856A;
}


// .page-header {
//     background-color: #f2f2f2;
// }
