#btn-dropdown-sex{
    margin: 0;
    box-shadow: none !important;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
    border: 1px solid #ced4da !important;
    background-color: white;
    color: black;
}

.dropdown-menu {
    top: -1px;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 1rem !important;
}

.invalid-field {
    color: #dc3545;
    font-size: 80%;
}

.invalid-field-input {
    border-color: #dc3545 !important;
    box-shadow: none !important;
}

.calendar-div {
    margin: 0 !important;
}

.dropdown-list-first-child {
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

.dropdown-list-last-child {
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}