<div class="home" *ngIf="!globalParametersService.isLoggedIn">
  <br>
  <br>
  <br>
  <br>
  <br>
  <h1 class="text-center" style="font-size: 350%">{{'Home Page' | translate}}</h1>
  <br>
  <br>
  <br>
  <h2 class="text-center">{{'Connect to continue' | translate}}</h2>
  <br>
  <br>
  <div class="text-center">
    <button  type="button" (click)="open()" class="btn btn-success btn-lg my-btn">{{'Login' | translate}}</button>
  </div>
</div>
<div class="home" *ngIf="globalParametersService.isLoggedIn">
  <br>
  <br>
  <br>
  <h1 class="text-center" style="font-size: 350%">{{'Home Page' | translate}}</h1>
  <br>
  <br>
  <div class="text-center" style="font-size: 250%">{{'Welcome' | translate}}</div>
  <br>
  <br>
  <div class="row text-center home-images">
    <a class="col-4 col-hover" style="top: 48px;">
      <img class="image home-single-image" src="../../../assets/images/doctor_3.png" alt="{{'Patients' | translate}}" (click)="navigate('/patients')">
      <br>
      <label class="link-cust" (click)="navigate('/patients')" style="margin-top: 25px;">{{'Patients' | translate}}</label>
    </a>
    <a class="col-4 col-hover">
      <img class="image home-single-image" src="../../../assets/images/user_3.png" alt="{{'Users' | translate}}" (click)="navigate('/users')">
      <br>
      <label class="link-cust" (click)="navigate('/users')" style="margin-top: 25px;">{{'Users' | translate}}</label>
    </a>
    <a class="col-4 col-hover" style="top: 48px;">
      <img id="sessions" class="image home-single-image" src="../../../assets/images/session_3.png" alt="{{'Sessions' | translate}}" (click)="navigate('/sessions')">
      <br>
      <label class="link-cust" (click)="navigate('/sessions')" style="margin-top: 25px;">{{'Sessions' | translate}}</label>
    </a>
  </div>
</div>