button {
    outline: none !important;
}

.input-field {
    margin-bottom: 20px;
}

.profile-header {
    background-color: #e67e00 !important;
    //background-image: linear-gradient(#e67e00, #ff8c00, #ff981a, #ffa333, #ffaf4d);
}

#btn-save {
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -ms-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    color: white !important;
    background-color: #e67e00 !important;
    border: solid 1px #e67e00 !important;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 30px;
    padding-right: 30px;
    // border-radius: 2rem !important;

    &:hover {
        color: white !important;
        background-color: #b36200 !important;
        border: solid 1px #b36200 !important;
    }

    &:active {
        color: white !important;
        background-color: #804600 !important;
        border: solid 1px #804600 !important;
    }
}

app-profile-modal{
    width: 1000px;
}

// .disabled-color {
//     color: #d9d9d9 !important;
// }