mat-toolbar-row {
    background-color: #325B7C;
    color: #e6e6e6;
}

.mat-button:focus {
    outline: none !important;
    border: 0;
}

.mat-raised-button {
    outline: none !important;
    border: 0;
    background-color: #325B7C;
    color: #f2f2f2;
}

// .mat-sidenav, 
// .mat-sidenav.md-locked-open, 
// .mat-sidenav.md-closed.md-locked-open-add-active,
// .mat-raised-button {
//     min-width: 60px;
//     width: 3vw;
// }

.mat-sidenav {

    position: absolute;
    background-color: #3e719b;

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li:first-child {
            a {
                padding-left: 20px;
            }
        }

        li {
            a {
                color: #fff;
                display: block;
            }

            i {
                color: #fff;
                margin: auto;
            }

            button {
                mat-icon{
                    color: white;
                }
            }
        }
    }
}

mat-nav-list {
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -ms-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    a {
        mat-icon, p {
            color: white;
        }

        i {
            color: white;
            margin-top: 3px;
        }

        &:hover {
            background: rgba(0, 0, 0, 0.08);
            //width: 100px !important;
        }
    }

    .list-item {
        i {
            margin-left: 2px;
        }
    }
}

.main-container {
    min-height: 100vh;
}

.main-content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
}

main {
    display: flex;
    flex-direction: column;
    > *:not(router-outlet) {
        flex: 1;
        display: block;
    }
}

.spacer {
    flex: 1 1 auto;
}

mat-toolbar a {
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -ms-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    display: inline-block;
    margin: 0 10px;
    color: white;
    text-decoration: none;

    &:hover {
        color: #d9d9d9;
    }
}

mat-toolbar-row {
    z-index: 2;
}

#contact-us-link {
    margin-right: 30px;
    font-size: 80%;
    margin-top: 2px;
}

#user-text-drpdn {
    font-size: 80%;
    margin-left: 6px;

    &:hover {
        color: white !important;
    }
}

.user-drpdn {
    &:hover {
        opacity: 0.6;
    }
}

.user-drpdn-menu {

    ul {
        list-style-type: none;
        padding: 0;
        margin-bottom: 0;

        a {
            padding-left: 6px;
            padding-right: 0;
            margin-left: 0;
            margin-right: 0;

            p{
                margin-bottom: 0 !important;
            }

        }

        li {
            a:hover{
                color: #e6e6e6 !important;
            }
        }

        li:first-child {
            a:hover{
                border-top-right-radius: 0.3rem;
                border-top-left-radius: 0.3rem;
            }
        }

        li:last-child {
            a:hover{
                border-bottom-right-radius: 0.3rem;
                border-bottom-left-radius: 0.3rem;
            }
        }

    }

    min-width: 125px !important;
    padding: 0;
    background-color: #5b91be;
    border-radius: 0.3rem;
}

.dropbtn {
    //background-color: #325B7C;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
        a {
            margin-right: 2px;
        }
        #main-flag {
            padding: 10px;
            margin-top: 8px;
            margin-right: 8px;
        }
}

.user-drpdn-menu::before {
    position: absolute;
    top: -7px;
    left: 99px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #CCC;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
}

  .user-drpdn-menu::after {
    position: absolute;
    top: -6px;
    left: 100px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #b6cee2;
    border-left: 6px solid transparent;
    content: '';
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f2f2f2;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

    #menu-flag {
        background-position: 0%;
    }

    #menu-text {
        -webkit-transition: all 0.15s ease-in-out;
        -moz-transition: all 0.15s ease-in-out;
        -ms-transition: all 0.15s ease-in-out;
        -o-transition: all 0.15s ease-in-out;
        transition: color 0.15s ease-in-out;
        color: black;
        text-align: right;
        margin-right: 5px;
        font-size: 80%;
        font-weight: 400;

        &:hover {
            color: #a6a6a6;
        }
    }

}

.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -ms-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    //background-color: #325B7C;
    opacity: 0.7;
}

#home-link {
    margin-top: 8px;
    margin-left: 10px;
}

button {
    outline: none !important;
}

#submit-button {
    min-width: 100px;
    min-height: 50px;
    text-decoration: none;
}

#cancel-button {
    min-width: 100px;
    min-height: 50px;
    background-color: #e91640 !important;
}

#user-icon {
    font-size: 25px;
}

#wrong-pass-msg {
    color: red;
}

.btt-btn {
    -webkit-transition: background-color 0.15s ease-in-out;
    -moz-transition: background-color 0.15s ease-in-out;
    -ms-transition: background-color 0.15s ease-in-out;
    -o-transition: background-color 0.15s ease-in-out;
    transition: background-color 0.15s ease-in-out;
    cursor: pointer;
    position: fixed;
    bottom: .2em;
    right: 1.4em;
    padding: .5em;
    text-decoration: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 14px;
    outline-style: none;

    &:hover {
        background-color: rgba(0, 0, 0, 0.6);
    }

    &:active {
        background-color: rgba(0, 0, 0, 0.8);
    }
}
 
#backTT {
    z-index: -9999999;
    position: absolute !important;
    top: -9999999px;
}

.active-route {
    //background-color: #2d506d !important;
    //background: linear-gradient(90deg, #2d506d 50%, #fafafa 50%) !important;
    //opacity: 0.6;
    background: rgba(0, 0, 0, 0.3) !important;
}

// .active-route-alt {
//     background: linear-gradient(90deg, #2d506d 50%, #fafafa 50%);
// }

.active-route-details {
    background-color: #2d506d !important;
}

.shown {
    padding-left: 8px !important;
    width: 72.563px;
    -webkit-transition: width 0.15s linear;
    -moz-transition: width 0.15s linear;
    -ms-transition: width 0.15s linear;
    -o-transition: width 0.15s linear;
    transition: width 0.15s linear;
}

.shown-alt {
    padding-left: 8px !important;
    width: 82.766px;
    -webkit-transition: width 0.15s linear;
    -moz-transition: width 0.15s linear;
    -ms-transition: width 0.15s linear;
    -o-transition: width 0.15s linear;
    transition: width 0.15s linear;
}

.hidden {
    padding-left: 0 !important;
    width: 0px;
    -webkit-transition: width 0.15s linear;
    -moz-transition: width 0.15s linear;
    -ms-transition: width 0.15s linear;
    -o-transition: width 0.15s linear;
    transition: width 0.15s linear;
}

// .list-item-all {
//     &:hover {
//         padding-left: 6px;
//         //background-color: #345d7f !important;
//         //border-top-right-radius: 0.5rem;
//         //border-bottom-right-radius: 0.5rem;

//         p {
//             padding-left: 6px !important;
//             width: 82.766px;
//             // background-color: #fafafa !important;
//         }
//     }
// }

// .mat-sidenav-hovered {
//     background: linear-gradient(90deg, #3e719b 33%, #fafafa 33%);
//     width: 148.766px !important;
// }

// .backdrop {
//     -webkit-transition: opacity 0.2s ease-in-out;
//     -moz-transition: opacity 0.2s ease-in-out;
//     -ms-transition: opacity 0.2s ease-in-out;
//     -o-transition: opacity 0.2s ease-in-out;
//     transition: opacity 0.2s ease-in-out;
//     opacity: 0.8 !important;
// }