.input-changed-data {
    border: solid;
    border-width: 1px;
    border-color: #ffc107 !important;
    box-shadow: none !important;
}

#btn-dropdown-sex{
    margin: 0;
    box-shadow: none !important;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
    border: 1px solid #ced4da;
    background-color: white;
    color: black;
}

.dropdown-menu {
    margin-top: 0;
    padding-top: 4px;
    padding-bottom: 4px;
}

.dropdown-item {
    outline: none;
}

.calendar-div {
    margin: 0 !important;
}