/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@angular/material/theming';
@include mat-core();
$flag-icon-css-path: '~flag-icon-css/flags' !default;
@import "~flag-icon-css/sass/flag-icon";
@import '~ngx-toastr/toastr.css';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~ngx-toastr/toastr-bs4-alert';
@import '~pretty-checkbox/src/pretty-checkbox.scss';


//@import "~@ng-select/ng-select/themes/material.theme.css";
//or
@import "~@ng-select/ng-select/themes/default.theme.css";


$ip-primary: mat-palette($mat-indigo);
$ip-accent: mat-palette($mat-pink, A200, A100, A400);
$ip-theme: mat-light-theme($ip-primary, $ip-accent);
$ip-theme-dark: mat-dark-theme($ip-primary, $ip-accent);
$medium-screen: 1440px;
$small-screen: 990px;
$desktop: 960px;
$tablet: 768px;
$mobile-large: 640px;
$mobile: 480px;
$mobile-small: 300px;

$table-header: #196B4C;

.indigo-pink {
  @include angular-material-theme($ip-theme);
}

.indigo-pink-dark {
  @include angular-material-theme($ip-theme-dark);
}

.padding-0{
    padding-right:0;
    padding-left:0;
}

body {
    margin: 0;
    background: #fafafa;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

thead {
    tr {
        background-color: $table-header;
    }
}

th {
    //background-color: $table-header;
    color: white;

    a {
        font-weight: bold;
        cursor: pointer;
    }

    .table-header {
        font-weight: bold;
    }
}

html, body {
    height: 100%;
}

button {
    text-transform: none !important;
}

.btn-danger {
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -ms-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    border: solid 1px #ff3547 !important;

    &:active {
        border: solid 1px #ce0012 !important;
    }

    &:hover {
        background-color: #ff0015 !important;
        border: solid 1px #ff0015 !important;
    }
}

.btn-info {
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -ms-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    border: solid 1px #33b5e5 !important;

    &:active {
        border: solid 1px #14799e !important;
    }

    &:hover {
        background-color: #199dcc !important;
        border: solid 1px #199dcc !important;
    }
}

.btn-success {
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -ms-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    border: solid 1px #00c851 !important;

    &:active {
        border: solid 1px #006228 !important;
    }

    &:hover {
        background-color: #00953c !important;
        border: solid 1px #00953c !important;
    }
}

.btn-primary {
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -ms-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    border: solid 1px #4285f4 !important;

    &:active {
        border: solid 1px #0b51c5 !important;
    }

    &:hover {
        background-color: #1567f0 !important;
        border: solid 1px #1567f0 !important;
    }
}

.btn-default-mine {
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -ms-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;

    &:hover {
        background-color: #219186 !important;
        border: solid 1px #219186 !important;
    }
}

.modal-content  {
    border-radius: .6rem !important; 
}

.modal-header {
    color: white;
    background-color: #33b5e5 ;
    border-top-left-radius: .6rem !important; 
    border-top-right-radius: .6rem !important; 
}

.checkbox-mat {
    padding-top: 2px;
    border: none !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;

    &::before {
        background-color: white;
        border-radius: 1px;
        border: 2px solid #8a8a8a;
        width: 18px;
        height: 18px;
        outline: none !important;
        box-shadow: none !important;
    }

    &::after {
        outline: none !important;
        box-shadow: none !important;
        border-radius: 0;
        border: none;
        width: 18px;
        height: 18px;
    }

    &:checked {
        border-radius: 0;
        border: none;
    }

}

.close {
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -ms-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    color: white !important;
    opacity: 1;

    &:hover {
        color: white !important;
        opacity: 0.4;
    }
}

.svg-icon {
    margin-top: 3px !important;
}

.checkbox-pass-label {
    width: 100%;

    &::before, &::after{
        margin-top: 3px !important;
    }

}

.custom-checkbox {
    padding-left: 0;
}

.check-image {
    margin-top: 3px;
}

.filter-sm {
    @media only screen and (max-width: $medium-screen) {
        width: 8.739% !important;
    }
    
    @media only screen and (max-width: $small-screen) {
        width: 8.3695% !important;
    }
}

.filter-md {
    @media only screen and (max-width: $medium-screen) {
        width: 9.831% !important;
    }

    @media only screen and (max-width: $small-screen) {
        width: 8.9155% !important;
    }
}

.filter-lg {
    @media only screen and (max-width: $medium-screen) {
        width: 12.016% !important;
    }

    @media only screen and (max-width: $small-screen) {
        width: 10.008% !important;
    }
}

.deleted {
    background-color: #ff0000 !important;
}

.removed {
    display: none;
}

.dropdown-header-options {
    background-color: #325B7C;
    color: white;
}

.dropdown-options {
    padding-top: 0;
    margin-top:0;
    width: 500px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.left-col-options {
    border-right: solid;
    border-width: 1px;
    border-color: #17a2b8;
}

.left-col-options, .right-col-options {
    padding-bottom: 8px !important;
    margin-bottom: 1px !important;
}

.checkbox-options-label {
    width: 100%;
}

.dropdown-row-options {
    width: 100%;
    margin-right: 0;
    height: 100%;
}

.btn-dropdown-options {
    outline: none;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 5px;
    padding-left: 5px;
}

.arrow-details {
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -ms-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    color: #003d99;

    &:hover {
        color: #469cce;
    }
}

.delete-row {
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -ms-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    color: #808080;

    &:hover {
        color: #e91640;
    }
}

.btn {
    text-transform: none !important;
}

.counter-success {
    border-bottom: 1px solid #ced4da !important;
    box-shadow: none !important;
}

.counter-success:focus {
    box-shadow: 0 1px 0 0 #4285f4 !important;
    border-bottom: 1px solid #4285f4 !important;
}

.inputVal {
    display: none !important;
    outline: none !important;
}

.counter-danger {
    border-bottom: 1px solid #ced4da !important;
    box-shadow: none !important;
}

.counter-danger:focus {
    box-shadow: 0 1px 0 0 #4285f4 !important;
    border-bottom: 1px solid #4285f4 !important;
}

.my-btn {

    &:focus {
        box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15) !important;
    }

    &:active {
        box-shadow: none !important;
    }
}

.profile-modal {

    width: 800px !important;

    .modal-content {
        width: 800px;
        margin: auto !important;

        @media only screen and (max-width: $desktop) {
            width: 500px;
        }

    }

    @media only screen and (min-width: $desktop) {
        margin: 1.75rem auto;
        max-width: 800px !important;
    }

    @media only screen and (max-width: $desktop) {
        margin: 1.75rem auto;
        max-width: 500px !important;
    }

}

.patient-modal {
    width: 1000px !important;

    .modal-content {
        width: 1000px;
        margin: auto !important;

        @media only screen and (max-width: $desktop) {
            width: 500px;
        }

    }

    @media only screen and (min-width: $desktop) {
        margin: 1.75rem auto;
        max-width: 1000px !important;
    }

    @media only screen and (max-width: $desktop) {
        margin: 1.75rem auto;
        max-width: 500px !important;
    }
}

.form-control {
    box-shadow: none !important;
}

.dropdown-patients {
    width: auto;
    min-width: 400px;
    margin-top: 6px;

    .ng-select-container {
        height: 38px !important;
        box-shadow: none !important;
        
        &:focus {
            border-color: #80bdff;
        }

    }

    .ng-dropdown-panel {

        .ng-dropdown-panel-items {
            max-height: 400px !important;
        }

    }

    @media only screen and (max-width: 1020px) {
        width: 200px !important;
        min-width: 200px !important;
    }

    @media only screen and (max-width: 730px) {
        width: 100px !important;
        min-width: 100px !important;
    }

}

.ng-select.ng-select-focused:not(.ng-select-opened)>.ng-select-container{
    border-color:#80bdff;
}

.calendar-div {
    margin: 6px !important;
}

.calendar-input {
    margin: 0 !important; 
    border-left: none;

    @media only screen and (max-width: 730px) {
        border-left: 1px solid #ced4da !important;
        border-radius: .25rem !important;
    }

}

.calendar-icon {
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -ms-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    background-color: #17a2b8 !important;
    border-color: #17a2b8 !important;

    i {
        color: white !important;
    }

    @media only screen and (max-width: 730px) {
        display: none !important;
    }

    &:hover {
        cursor: pointer;
        background-color: #1a8fa1 !important;
        border-color: #1a8fa1 !important;
    }

}

.confirm-header {
    background-color: #007bff !important;
}

.invalid-field {
    color: #dc3545;
    font-size: 80%;
}

.invalid-field-input {
    border-color: #dc3545 !important;
    box-shadow: none !important;
}

.invalid-field-input-ng-select {

    .ng-select-container {
        border-color: #dc3545 !important;
    }

}

.mat-list-text {
    padding-left: 0px !important;
}

.session-item {
    .mat-list-item-content {
        .mat-list-text {
            padding-left: 6px !important;
        }
    }
}

.invisible {
    display: none !important;
}

.input-changed-data {
    border: solid;
    border-width: 1px;
    border-color: #ffc107 !important;
    box-shadow: none !important;
}

.home-images {
    margin: 0 400px 0 400px;

    @media only screen and (max-width: 1700px) {
        margin: 0 200px 0 200px;
    }

    @media only screen and (max-width: $medium-screen) {
        margin: 0 100px 0 100px;
    }

    @media only screen and (max-width: $small-screen) {
        margin: 0;
    }
}

.home-single-image {
    &:hover {
        cursor: pointer;
    }

    @media only screen and (max-width: $small-screen) {
        height: 150px;
        width: 150px;
    }

    @media only screen and (max-width: $mobile-large) {
        height: 100px;
        width: 100px;
    }
}

.link-cust {

    font-size: 20px;

    &:hover {
        cursor: pointer;
    }
}

.form-container {
    border: solid 1px #f4fff4;
    border-radius: 0.75em;
    box-shadow: 4px 4px 70px #888888;
    background-color: #f4fff4;
}

.form-container-linear {
    border: solid 1px #f4fff4;
    border-radius: 0.75em;
    box-shadow: 4px 4px 70px #888888;
    background-color: #f4fff4;
    background-image: linear-gradient(to bottom right, #d9ffd9, #d7ffd7, #e6ffe6, #f2fff2, #f4fff4);
}

.form-container-modal {
    border: solid 1px #f4fff4;
    border-radius: 0.75em;
    background-color: #f4fff4;
}

.form-container-modal-linear {
    border: solid 1px #f4fff4;
    border-radius: 0.75em;
    background-color: #f4fff4;
    background-image: linear-gradient(#d9ffd9, #d7ffd7, #e6ffe6, #f2fff2, #f4fff4);
}

.form-label {
    margin-left: 8px;
}

.form-label-invalid {
    margin-left: 8px;
    margin-top: 2px;
}

.form-input {
    border-radius: 1em;
}

.dropdown-list-item {
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -ms-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    outline: none !important;
    &:hover {
        cursor: pointer;
        background-color: #17a2b8 !important;
        color: white !important;
    }
    &:active {
        background-color: #128193 !important;
    }
}

.star-required {
    font-size: 6px;
    margin-top: 5px;
    margin-left: 2px;
    color: #dc3545;
}

.switch-labeled {
    background-color: red !important;
}

.checked {
    background-color: #64bd63 !important;
}

.switch-text {
    .off {
        top: 5.8px !important;
        color: white !important;
        margin-right: 3px;
    }

    .on {
        top: 5.8px !important;
        color: white !important;
        margin-left: 4px;
    }
}

.switch-gr {

    .switch-medium.checked {
        width: 100px !important;

        small {
            left: 70px !important;
        }

        .switch-text {
            .on {
                margin-left: 10px !important;
            }
        }
    }

    .switch-medium {
        width: 100px !important;

        small {
            right: 70px !important;

        }

        .switch-text {
            .off {
                margin-right: 0 !important;
            }
        }
    }
}

// .modal-backdrop {
//     opacity:0.1 !important;
// }

.row-clickable {
    cursor: pointer;
}

.button-area {
    text-align:  center !important;
}

.cp-cancel-button-class {
    border: solid 1px #ff0015 !important;
    background-color: #ff0015 !important;
    color: white !important;
    outline: none !important;
    cursor: pointer;

    &:hover {
        color: white !important;
        background-color: #ce0012 !important;
        border: solid 1px #ce0012 !important;
    }

    &:active {
        color: white !important;
        border: solid 1px #99000d !important;
        background-color: #99000d !important;
    }
}

// .modal-open {
//     background-color: rgba(0, 0, 0, 1) !important;
// }

.bs-datepicker {
    border-radius: 0.3rem !important;

    .bs-calendar-container {
        div {
            display: flex;
            flex-wrap: wrap;
        }
    }
}

.days {
    thead {
        tr {
            th {
                background-color: #E48683 !important;
                color: white !important;
            }
        }
    }
}

.bs-datepicker-head button.next span, .bs-datepicker-head button.previous span {
    line-height: 0.9255;
}

.mat-sidenav-content {
    overflow: hidden !important;
}